*{
	font-family:Tahoma,Geneva,sans-serif
}

body {background:#175082}

h1{
	color:#069;font-size:40px;
	font-family:Georgia,"Times New Roman",Times,serif;
	line-height:50px;
	padding-bottom:10px;
	vertical-align:top;
	border-bottom:1px dashed#09F
}

h4{
	color:#000;font-size:20px;
	font-weight:normal

}

div#all{
	width:700px
	;position:relative;
	margin:40px auto;
	border:5px solid#09F;
	background:#DDF2FF;
	padding:0px 25px 50px 25px
}

input#q{
	width:300px;
	height:30px;
	line-height:30px;
	font-size:26px;
	border:2px solid#CCC;
	padding-left:5px
}

span#tip{

	font-size:12px;
	line-height:30px;
	margin-left:15px;
	color:#F30;
	font-weight:bold;
	margin-bottom:10px
}

ul#results li{
	color:#666;
	line-height:1.7em

} 